$blueBackground: rgba(98, 116, 136, 1);
$primaryFont: rgba(39, 35, 35, 0.63);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  #nav-bar {
    top: 0px;
    z-index: 4;
    display: inline-flex;
    position: fixed;
    padding: 2px;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;

    #home-page-btn {
      width: auto;
      height: auto;
      padding: 1vw;

      img {
        max-width: 25vw;
      }
    }

    #menu-container {
      display: inline-flex;
      justify-content: space-between;

      #categories {
        display: flex;
        align-items: center;
        padding: 0 1vw;

        .categorie {
          list-style: none;
          padding: 0 1vw;

          button {
            font-size: 120%;
            color: $primaryFont;
          }
        }
      }

      #menu {
        display: flex;
        align-items: center;
        padding: 1vw;

        .menu-item {
          list-style: none;
          text-align: center;
          vertical-align: middle;
          display: flex;

          .search-bar {
            width: 20vw;
            vertical-align: middle;
            border: solid 1px $primaryFont;
            padding: 0.5vw;
            margin-right: 0.5vw;
            animation: fadeIn 1s;
          }

          button img {
            width: 1.5vh;
            margin: 0.2vw;
            height: auto;
            color: $primaryFont;
          }
        }
      }
    }
  }
}

#cart-modal,
#favourites-modal {
  z-index: 3;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.559);
  width: 100vw;
  height: 100%;
}

#modal-added-to-div {
  display: inline-flex;
  align-content: baseline;
  display: flex;
  justify-content: center;

  #modal-added-to {
    z-index: 4;
    position: fixed;
    bottom: 0;
    background-color: $blueBackground;
    font-size: 2vh;
    color: #ffffff;
    padding: 1vh;
    filter: drop-shadow(3px 3px 3px rgba(0.2, 0.2, 0.2, 0.2));

    h3 {
      font-weight: 300;
      padding: 0.8vw 17vw 0.8vw 17vw;
    }
  }
}

.hidden {
  display: none;
}

#shopping-cart-container,
#favourites-container {
  z-index: 3;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  width: 60vw;
  height: 80%;

  .empty-list {
    width: 25%;
    margin: 15% 35% 15% 35%;
  }

  h3 {
    text-align: center;
    color: $primaryFont;
    font-weight: 400;
    font-size: 2vh;
  }

  #cart-prod-list,
  #favourites-prod-list {
    padding: 3vw 0 1vw 0;

    h2 {
      color: $primaryFont;
      font-weight: 400;
      font-size: 3vh;
      width: 100%;
      text-align: center;
      margin-top: 7vh;
      padding-bottom: 2vw;
    }

    .single-item-in-cart,
    .single-item-in-favourites {
      display: flex;
      margin: 1.5vw;
      justify-content: space-between;

      .image-title-price {
        display: inline-flex;

        .item-image-in-cart,
        .item-image-in-favourites {
          width: 6vh;
          object-fit: scale-down;
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
        }

        .title-price-in-cart,
        .title-price-in-favourites {
          padding: 4vh;
          margin: auto;

          .item-name-in-cart,
          .item-name-in-favourites {
            font-size: 1.8vh;
            color: $primaryFont;
          }

          .item-price-in-cart,
          .item-price-in-favourites {
            font-size: 2vh;
            color: $primaryFont;
            font-weight: bold;
          }
        }
      }

      #buttons {
        display: flex;
        padding: 1vw;

        button {
          padding: 0.5vw;
        }

        button:last-of-type {
          img {
            width: 24px;
          }
        }
      }
    }
  }

  h2 {
    font-weight: 400;
    padding: 3vw 2vw 2vw 4vw;
    color: $primaryFont;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  margin: auto;

  button {
    background-color: $blueBackground;
    color: #ffffff;
    padding: 1.5vw;
    margin: 2vw 4vw 2vw 2vw;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 2vh;
    font-weight: 400;

    img {
      margin: auto;
    }
  }
}

#above-the-fold {
  img {
    max-width: 100%;
    margin-top: 7vw;
    height: auto;
  }
}

#discover-more-button {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  padding: 1.7vw;
  position: absolute;
  left: 8.5vw;
  top: 48vw;
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-size: 3vw;
  color: $primaryFont;
}

.section-title {
  text-align: center;
  font-size: 4vw;
  font-weight: 400;
  padding-bottom: 4vw;
  color: $primaryFont;
}

.item-image {
  width: 27vw;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.item-cards {
  display: inline-flex;
  width: 100%;
  justify-content: center;

  .item-card {
    padding: 1.5vw;
    list-style: none;
    width: min-content;
    cursor: pointer;

    div {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;

      div {
        display: block;
        .item-name,
        .item-price {
          font-size: 1.5vw;
          padding: 0.3vw;
          color: $primaryFont;
        }
      }

      .add-to-cart-btn {
        width: 3vh;
        padding: 0 3px;
        overflow: visible;
      }

      .add-to-favourites-btn {
        width: 3vh;
        padding: 0 3px;
        overflow: visible;
      }
    }
  }

  .item-card:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
}

.collections {
  margin-bottom: 6vw;
  color: $primaryFont;
  padding-top: 9vw;
}

#reviews {
  background-color: $blueBackground;
  color: #ffffff;
  padding-top: 4vw;
  margin-top: 10vw;

  .section-title {
    color: #ffffff;
  }

  #review-cards {
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4vw;

    .review-card {
      width: 31%;
      display: inline-block;
      padding: 2vw;

      div {
        display: inline-flex;
        align-items: center;

        img {
          width: 8vw;
          height: auto;
        }
        h3 {
          font-size: 2.5vw;
          font-weight: 300;
          padding: 1vw;
        }
      }

      p {
        font-size: 2vw;
        font-weight: 100;
        text-align: center;
        opacity: 80%;
      }
    }
  }
}

#contact {
  padding-top: 4vw;
  margin-top: 10vw;
  color: $primaryFont;
  background: #f3f3f3;

  div {
    display: inline-block;
    #email {
      display: inline-flex;
      padding: 2vw;
      width: 80vw;
      justify-content: center;

      #line {
        background-color: $blueBackground;
        width: 2px;
        height: 15vw;
        margin: 2vw;
        align-self: center;
      }

      div {
        align-self: center;

        h3 {
          font-style: normal;
          font-weight: 500;
          font-size: 2vw;
          padding-right: 2vw;
          margin-bottom: 2px;
          align-self: center;
        }

        #btn-in {
          background: #ffffff;
          display: inline-flex;
          width: 60vw;

          input {
            border: none;
            padding: 2vw;
            width: 55vw;
            font-size: 2vw;
            font-weight: 500;
            opacity: 80%;
          }

          button {
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 2vw;
            width: 3vw;
            overflow: visible;
          }
        }
      }
    }

    .social-media {
      list-style: none;
      margin: auto;
      display: flex;
      width: 100vw;
      justify-content: center;

      #facebook,
      #instagram,
      #twitter {
        img {
          width: 3vw;
        }
        padding: 2vw 3vw 4vw 3vw;
      }
    }
  }
}

footer {
  padding: 5vw;
  color: $primaryFont;

  #footer {
    display: flex;
    justify-content: space-between;

    img {
      width: auto;
      height: auto;
      max-width: 25vw;
    }

    #footer-menu {
      li {
        list-style: none;
        button {
          list-style: none;
          color: $primaryFont;
          font-size: 3vw;
        }
      }
    }
  }

  p {
    color: $primaryFont;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    padding: 8vw 0vw 2vw 0vw;
  }
}

#polygon-3 {
  position: absolute;
  width: 50%;
  top: 75vw;
  left: 30%;
  transform: translate(-30%);
  z-index: -1;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-direction: alternate;
  -webkit-animation-direction: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#polygon-4 {
  @extend polygon-3;
  top: 140vw;
}

#polygon-5 {
  @extend polygon-3;
  top: 235vw;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-15deg);
  }
  50% {
    transform: translateZ(300%) rotate(20deg);
  }
  100% {
    transform: translateZ(0%) rotate(-20deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateZ(300%);
  }
  100% {
    -webkit-transform: translateZ(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-right: -400px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

/* Media queries */
@media (max-width: 650px) {
  #above-the-fold {
    position: relative;
    top: 3vw;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  #home-page-btn {
    padding: 0.5vw !important;
  }

  #menu {
    button img {
      width: 2.5vh !important;
    }
  }

  #above-the-fold {
    position: relative;
    top: -7.7vh;
    overflow: hidden;
  }

  #discover-more-button {
    font-size: 1.5vw;
    padding: 1.2vw;
  }

  .collections {
    padding-top: 2vw;
  }

  .section-title {
    font-size: 2vw;
    padding-bottom: 1vw;
  }

  .item-card {
    margin: 2vw;
    width: 18% !important;

    img {
      width: 100%;
    }

    .item-name,
    .item-price {
      font-size: 1vw !important;
    }
  }

  .add-to-cart-btn img,
  .add-to-favourites-btn img {
    width: 2.5vh !important;
  }

  .review-card {
    width: 25% !important;

    h3 {
      font-size: 2vw !important;
    }

    p {
      font-size: 1.5vw !important;
    }
  }

  footer {
    padding-bottom: 0;
    #footer-menu {
      li {
        button {
          font-size: 1.5vw !important;
        }
      }
    }

    p {
      font-size: 1.5vw !important;
      padding: 2vw 0vw;
    }
  }

  #polygon-3 {
    top: 67vw;
  }

  #polygon-4 {
    top: 110vw;
  }

  #polygon-5 {
    top: 180vw;
  }

  #shopping-cart-container,
  #favourites-container {
    width: 65vh;
    height: 85%;
  }
}

/* Accessories page style */
#page-under-construction {
  height: 25vh;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blueBackground;

  h1 {
    color: #ffffff;
    font-weight: 300;
  }
  img {
    padding: 5px;
  }
}
